W1D3: SQL Basics

In [ ]:
/* SQL BASICS
Every SQL query returns a table. The following returns a one row, one-column table with the value 'Mattie'.
*/
SELECT 'Mattie';

-- Add an alias
SELECT 'Mattie' AS name, 37 AS age;

-- Adding logic with CASE (SQL's version of if-else)
SELECT
    'Mattie' AS name,
    37 AS age,
    CASE
        WHEN 37 < 18 THEN 'Minor'
        WHEN 37 < 30 THEN 'Young Adult'
        ELSE 'Adult'
    END AS age_group;

-- Using WHERE to filter results (no table so it won't return anything useful)
SELECT role
FROM job_roles
WHERE role LIKE '%AI%';

-- Add Multiple conditions OR
SELECT role
FROM job_roles
WHERE role LIKE '%Engineer%'
    OR role LIKE '%Developer%';

-- Combine Filter and CASE
SELECT
    role,
    CASE
        WHEN role LIKE '%Engineer%' THEN 'Tech'
        WHEN role LIKE '%Developer%' THEN 'Tech'
        WHEN role LIKE '%AI%' THEN 'Tech'
        ELSE 'Creative'
    END AS category
FROM job_roles;

-- Counting (SQL Aggregation)
SELECT
    CASE
        WHEN role LIKE '%Engineer%' THEN 'Tech'
        WHEN role LIKE '%Developer%' THEN 'Tech'
        WHEN role LIKE '%AI%' THEN 'Tech'
        ELSE 'Creative'
    END AS category,
    COUNT(*) AS total
FROM job_roles
GROUP BY
    CASE
        WHEN role LIKE '%Engineer%' THEN 'Tech'
        WHEN role LIKE '%Developer%' THEN 'Tech'
        WHEN role LIKE '%AI%' THEN 'Tech'
        ELSE 'Creative'
    END AS category;